<!DOCTYPE html5>
<html>
<head>
    <title>Tournament Platform</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/css/style.css" />

</head>
<body>
    <div class="dev-bp"></div>
    @Html.Partial("_Nav")
    @if (Model.error != WebApplication.Models.ViewModel.ViewError.NONE)
    {
        <div class="message @Model.errorClassNames[(int)Model.error]">
            @Model.message
            <br />
            @if (Model.dbException != null)
            {
                <h2>Exception Message</h2>
                @Model.dbException.Message <br />
                <h2>Inner Message</h2>
                @Model.dbException.InnerException <br />
            }
        </div>
    }

    @if (Session["Message"] != null)
    {

    }

    @RenderBody()
    <footer>
        <p>
            Copyright &copy; Full Sail Software Development
        </p>
    </footer>
</body>
</html>