
@{ 
    // Set necessarry global data
    ViewBag.isLoggedIn = Session["User.UserId"] != null ? true : false;
    ViewBag.Name = Session["User.Name"] != null ? Session["User.Name"] : "Guest";
}

<!DOCTYPE html5>
<html lang="en-us" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en" />
    <title>Tournament Platform</title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-timepicker/jquery.ui.timepicker.js"></script>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="~/Scripts/scripts.js"></script>
        <script type="text/javascript" src="~/Scripts/Tournament/Tournaments.js"></script>
        <script type="text/javascript" src="~/Scripts/Tournament/Search.js"></script>
        <script type="text/javascript" src="~/Scripts/Tournament/Match.js"></script>
        <script type="text/javascript" src="~/Scripts/Tournament/Create.js"></script>
        <script type="text/javascript" src="~/Scripts/Tournament/Update.js"></script>

        <script type="text/javascript" src="~/Scripts/Administrator/Games.js"></script>
        <script type="text/javascript" src="~/Scripts/Administrator/Platforms.js"></script>
        <script type="text/javascript" src="~/Scripts/Administrator/Brackets.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/Scripts/scripts.min.js"></script>
    }

    <link href="https://fonts.googleapis.com/css?family=Arimo|Francois+One|Kanit|Quattrocento|Signika" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Styles/css/jquery.timepicker.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Styles/css/style.min.css" />
</head>
<body>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="dev-bp"></div>
    }
    @Html.Partial("_Nav", new ViewDataDictionary(ViewData))

    @if (Session["Message"] != null)
    {
        var messageClass = WebApplication.Models.ViewModel.ViewError.WARNING;
        if (Session["Message.Class"] != null) { messageClass = (WebApplication.Models.ViewModel.ViewError)Session["Message.Class"]; }
        <div class="message @Model.errorClassNames[(int)messageClass]">
            @Html.Raw((String)Session["Message"])
        </div>

        Session.Remove("Message");
    }

    @if (Model.error != WebApplication.Models.ViewModel.ViewError.NONE)
    {
        <div class="message @Model.errorClassNames[(int)Model.error]">
            @Html.Raw(Model.message)
            <br />
            @if (Model.dbException != null)
            {
                <h2>Exception Message</h2>
                @Model.dbException.Message <br />
                <h2>Inner Message</h2>
                @Model.dbException.InnerException <br />
            }
        </div>
    }

    <div id="content">@RenderBody()</div>
    @{ Html.RenderPartial("_Footer"); }
</body>
</html>