@{ 
    String Username = "Hello, " + ViewBag.Name;
}

<div id="navagation" class="navavation">
    @*<div id="logo" class="logo">Tournament Bracket</div>*@
    <ul class="nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Tournaments", "Search", "Tournament")</li>
        <li class="menu-dropdown">
            @Html.ActionLink(Username, "Index", "Account")
            <div class="content">
                @if (ViewBag.isLoggedIn)
                {
                    @Html.ActionLink("Account", "Index", "Account");
                    @Html.ActionLink("Create Tournament", "Create", "Tournament");
                    @Html.ActionLink("Logout", "Logout", "Account");
                }
                else
                {
                    @Html.ActionLink("Register", "Register", "Account");
                    @Html.ActionLink("Login", "Login", "Account");
                }
            </div>
        </li>
        <li class="searchBar">
            <form method="get" action="/Tournament/Search">
                <span class="icon icon-search fieldImage"></span>
                <input type="text" name="title" class="field" placeholder="Search Tournaments" autocomplete="off" />
            </form>
        </li>
    </ul>
</div>