<div id="navagation" class="navavation">
    <div id="logo" class="logo">Logo</div>
    <div class="searchBar text">
        <input type="text" name="tournamentSearch" placeholder="Search Tournaments"/>
        <button type="button">Search</button>
    </div>
    
    <ul>
        <li class="nav navElement">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="nav navElement">@Html.ActionLink("Tournaments", "Index", "Tournament")</li>
        @if (Session["UserId"] != null)
        {
            <li class="nav navbar-right">@Html.ActionLink("Create Tournament", "Create", "Tournament")</li>
            <li class="nav navbar-right">@Html.ActionLink("Account", "Index", "Account")</li>
        }
        else
        {
        <li class="nav navElement navbar-right">@Html.ActionLink("Register", "Register", "Account")</li>
        <li class="nav navElement navbar-right">@Html.ActionLink("Login", "Login", "Account")</li>
        }
    </ul>
</div>