@model WebApplication.Models.AccountViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="@ViewBag.Title">
    <div class="tournaments">
        <h2>Tournaments</h2>
        <div class="active">
            <label>Active Tournaments</label>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul data-columns="2">
                        <li>Name</li>
                        <li>Game</li>
                    </ul>
                </li>
                <li class="list-table-body">
                    <ul>
                        @for (int i = 0; i < 3; i++)
                        {
                            <li>Tournament @i</li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="upcoming">
            <label>Upcoming</label>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul data-columns="3">
                        <li>Name</li>
                        <li>Game</li>
                        <li>Start Date</li>
                    </ul>
                </li>
                <li class="list-table-body">
                    <ul>
                        @for (int i = 0; i < 5; i++)
                        {
                            <li>Tournament @i</li>
                            <li>Game Name</li>
                            <li>@DateTime.Now.ToShortDateString()</li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="create">
            @Html.ActionLink("Create Tournament", "Create", "Tournament")
        </div>
    </div>

    <div class="settings">
        <h2>Account Settings</h2>
        <ul>
            <li>Update Account</li>
            <li>View Profile</li>
            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    </div>
</div>