@model WebApplication.Models.AccountViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Account">
    <div class="tournaments">
        <h2>Tournaments</h2>
        <div class="personal">
            <label>Your Tournaments</label>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul class="list-table-columns" data-columns="3">
                        <li class="column">Name</li>
                        <li class="column">Game</li>
                        <li class="column">Tournament Date</li>
                    </ul>
                </li>
                <li class="list-table-body">
                    @foreach (var tournament in Model.Tournaments[WebApplication.Models.TournamentStatus.OWNER])
                    {
                        <a href="/Tournament/@tournament.TournamentID">
                            <ul class="row-clickable" data-columns="3">
                                <li class="column">@tournament.Title</li>
                                <li class="column">@(tournament.Game != null ? tournament.Game.Title : "None")</li>
                                <li class="column">@(((DateTime)tournament.TournamentRules.TournamentStartDate).ToShortDateString())</li>
                            </ul>
                        </a>
                    }
                </li>
            </ul>
        </div>
        <div class="active">
            <label>Active Tournaments</label>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul class="list-table-columns" data-columns="2">
                        <li class="column">Name</li>
                        <li class="column">Game</li>
                    </ul>
                </li>
                <li class="list-table-body">
                    @foreach (var tournament in Model.Tournaments[WebApplication.Models.TournamentStatus.ACTIVE])
                    {
                        <a href="/Tournament/@tournament.TournamentID">
                            <ul class="row-clickable" data-columns="2">
                                <li class="column">@tournament.Title</li>
                                <li class="column">GAME</li>
                            </ul>
                        </a>
                    }
                </li>
            </ul>
        </div>
        <div class="upcoming">
            <label>Upcoming Tournaments</label>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul class="list-table-columns" data-columns="3">
                        <li class="column">Name</li>
                        <li class="column">Game</li>
                        <li class="column">Tournament Date</li>
                    </ul>
                </li>
                <li class="list-table-body">
                    @foreach (var tournament in Model.Tournaments[WebApplication.Models.TournamentStatus.UPCOMING])
                    {
                        <a href="/Tournament/@tournament.TournamentID">
                            <ul class="row-clickable" data-columns="3">
                                <li class="column">@tournament.Title</li>
                                <li class="column">GAME</li>
                                <li class="column">@(((DateTime)tournament.TournamentRules.TournamentStartDate).ToShortDateString())</li>
                            </ul>
                        </a>
                    }
                </li>
            </ul>
        </div>
        <div class="past">
            <label>Past Tournaments</label>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul class="list-table-columns" data-columns="3">
                        <li class="column">Name</li>
                        <li class="column">Game</li>
                        <li class="column">Tournament Date</li>
                    </ul>
                </li>
                <li class="list-table-body">
                    @foreach (var tournament in Model.Tournaments[WebApplication.Models.TournamentStatus.PAST])
                    {
                        <a href="/Tournament/@tournament.TournamentID">
                            <ul class="row-clickable" data-columns="3">
                                <li class="column">@tournament.Title</li>
                                <li class="column">GAME</li>
                                <li class="column">@(((DateTime)tournament.TournamentRules.TournamentStartDate).ToShortDateString())</li>
                            </ul>
                        </a>
                    }
                </li>
            </ul>
        </div>
    </div>

    <div class="settings">
        <h2>Settings</h2>
        <ul>
            <li class="clickable-underline">@Html.ActionLink("Update Account", "Update", "Account")</li>
            <li class="clickable-underline">@Html.ActionLink("Create Tournament", "Create", "Tournament")</li>
            <li>View Profile</li>
            @if (Model.Model.SitePermission.Permission == DataLib.Permission.SITE_ADMINISTRATOR)
            {
                <li class="clickable-underline">@Html.ActionLink("Administration", "Index", "Administrator")</li>
            }
            <li class="clickable-underline">@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    </div>
</div>