@model WebApplication.Models.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AccountLogin">
    <h2>Login</h2>
    <div class="loginTypes">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.SocialID)
            @Html.HiddenFor(x => x.ProviderID)
            @Html.DropDownListFor(x => x.Providers, new SelectList(Model.Providers, "SocialProviderID", "Provider", 0), "No Provider", new { @class = "hidden" })

            <div class="section">
                <ul>
                    <li>
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, null, new { @placeholder = "Username", @required = "required" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @required = "required" })
                    </li>
                </ul>
            </div>
            <div class="login">
                <input class="button" type="submit" value="Login" />
            </div>
        }
        <div class="social-media">
            <h3>Social Meida Login</h3>
            <div class="facebook">
                <button type="button" class="facebook-social-button">
                    <span class="icon icon-facebook"></span> Login With Facebook
                </button>
            </div>
        </div>
    </div>

    <div class="section">
        Don't have an account? @Html.ActionLink("Register here!", "Register", "Account", null, new { @class = "clickable-underline" })
    </div>
</div>