@model WebApplication.Models.AccountLoginViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AccountLogin">
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="section" >
            <ul>
                <li>

                </li>
            </ul>
        </div>
        <div class="login field">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, null, new { @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="login field">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Username, null, new { @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="login">
            <input type="submit" value="Login" />
        </div>
    }
</div>