@model WebApplication.Models.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AccountLogin">
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="section">
            <ul>
                <li>
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, null, new { @placeholder = "Username", @required = "required" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @required = "required" })
                </li>
            </ul>
        </div>
        <div class="section">
            <input type="submit" value="Login" />
        </div>

        @*<div class="section socialmedia">
            <a class="button facebook">Login With Facebook</a>
        </div>*@
    }

    <div class="section">
        Don't have an account? @Html.ActionLink("Register here!", "Register", "Account", null, new { @class = "clickable-underline" })
    </div>
    <div class="section">
        Forgot your password? @Html.ActionLink("Click here", "Forgot", "Account", null, new { @class = "clickable-underline" })
    </div>
</div>