@model WebApplication.Models.AccountRegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AccountRegister">
    <h2>Account Registration</h2>
    @using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post))
    {
        <div class="section">
            <ul>
                <li>
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, null, new { @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, null, new { @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
                <li>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, null, new { @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, null, new { @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, null, new { @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.PasswordVerify)
                    @Html.TextBoxFor(m => m.PasswordVerify, null, new { @placeholder = "Verify Password" })
                    @Html.ValidationMessageFor(m => m.PasswordVerify)
                </li>
            </ul>
        </div>
        <div class="section">
            <input type="submit" value="Register" />
        </div>
    }
</div>