@model WebApplication.Models.TournamentFormModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div id="TournamentCreate">
    @using (Html.BeginForm("Create", "Tournament", FormMethod.Post))
    {
        <div class="tournament field">
            @Html.LabelFor(t => t.Title)
            @Html.TextBoxFor(t => t.Title)
            @Html.ValidationMessageFor(t => t.Title)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.RegistrationStart)
            <input type="text" name="RegistrationStart" class="datepicker" />
            @Html.ValidationMessageFor(t => t.RegistrationStart)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.RegistrationEnd)
            <input type="text" name="RegistrationEnd" class="datepicker" />
            @Html.ValidationMessageFor(t => t.RegistrationEnd)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.CheckInDateTime)
            <input type="text" name="CheckInDateTime" class="datepicker" />
            @Html.ValidationMessageFor(t => t.CheckInDateTime)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.Description)
            @Html.TextAreaFor(t => t.Description)
            @*<textarea type="checkbox" name="Description" value="@Model.Description"></textarea>*@
            @Html.ValidationMessageFor(t => t.Description)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.IsPublic)
            @Html.CheckBoxFor(t => t.IsPublic)
            @Html.ValidationMessageFor(t => t.IsPublic)
        </div>
        <div class="tournament field">
            <input type="submit" value="Create Tournament" />
        </div>
    }
</div>