@model WebApplication.Models.TournamentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="TournamentCreate">
    @using (Html.BeginForm("Create", "Tournament", FormMethod.Post))
    {
        <div class="section form-section">
            <h2>Basic Information</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.Title)
                    @Html.TextBoxFor(t => t.Title)
                    @Html.ValidationMessageFor(t => t.Title)
                </li>
                <li>
                    @Html.LabelFor(t => t.Description)
                    @Html.TextBoxFor(t => t.Description)
                    @Html.ValidationMessageFor(t => t.Description)
                </li>
                <li>
                    @Html.LabelFor(t => t.GameType)
                    @Html.DropDownListFor(t => t.GameType, new SelectList(Model.GameTypes, "GameTypeID", "Title"), "---Select Game---")
                    @Html.ValidationMessageFor(t => t.GameType)
                </li>
                <li>
                    @Html.LabelFor(t => t.BracketType)
                    @Html.DropDownListFor(t => t.BracketType, new SelectList(Model.BracketTypes, "BracketTypeID", "TypeName"), "---Select Bracket---")
                    @Html.ValidationMessageFor(t => t.BracketType)
                </li>
                <li>
                    @Html.LabelFor(t => t.PlatformType)
                    @Html.DropDownListFor(t => t.PlatformType, new SelectList(Model.PlatformTypes, "PlatformID", "PlatformName"), "---Select Platform---")
                    @Html.ValidationMessageFor(t => t.PlatformType)
                </li>
                <li>
                </li>
                <li>
                    @Html.LabelFor(t => t.PublicViewing)
                    @Html.CheckBoxFor(t => t.PublicViewing)
                    @Html.ValidationMessageFor(t => t.PublicViewing)
                </li>
                <li>
                    @Html.LabelFor(t => t.PublicRegistration)
                    @Html.CheckBoxFor(t => t.PublicRegistration)
                    @Html.ValidationMessageFor(t => t.PublicRegistration)
                </li>
            </ul>
        </div>
        <div class="section form-section bracketInfo swiss hide">
            <h2>Swiss Details</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.NumberOfRounds)
                    @Html.DropDownListFor(t => t.NumberOfRounds, Enumerable.Range(1, 20).Select(n => new SelectListItem() { Text = n.ToString(), Value = n.ToString() }))
                </li>
            </ul>
        </div>
        <div class="section form-section">
            <h2>Tournament Dates</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.RegistrationStartDate)
                    @Html.TextBoxFor(t => t.RegistrationStartDate, DateTime.Now.ToShortDateString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationStartDate)

                    @Html.TextBoxFor(t => t.RegistrationStartTime, "{0:hh:mm tt}", new { @class = "timepicker" })
                </li>
                <li>
                    @Html.LabelFor(t => t.RegistrationEndDate)
                    @Html.TextBoxFor(t => t.RegistrationEndDate, DateTime.Now.AddDays(1).ToShortDateString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationEndDate)

                    @Html.TextBoxFor(t => t.RegistrationEndTime, "{0:hh:mm tt}", new { @class = "timepicker" })
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentStartDate)
                    @Html.TextBoxFor(t => t.TournamentStartDate, DateTime.Now.AddDays(2).ToShortDateString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentStartDate)

                    @Html.TextBoxFor(t => t.TournamentStartTime, "{0:hh:mm tt}", new { @class = "timepicker" })
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentEndDate)
                    @Html.TextBoxFor(t => t.TournamentEndDate, DateTime.Now.AddDays(3).ToShortDateString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentEndDate)

                    @Html.TextBoxFor(t => t.TournamentEndTime, "{0:hh:mm tt}", new { @class = "timepicker" })
                </li>
                <li>
                    @Html.LabelFor(t => t.CheckinStartDate)
                    @Html.TextBoxFor(t => t.CheckinStartDate, DateTime.Now.AddDays(2).ToShortDateString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.CheckinStartDate)

                    @Html.TextBoxFor(t => t.CheckinStartTime, "{0:hh:mm tt}", new { @class = "timepicker" })
                </li>
                <li>
                    @Html.LabelFor(t => t.CheckinEndDate)
                    @Html.TextBoxFor(t => t.CheckinEndDate, DateTime.Now.AddDays(3).ToShortDateString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.CheckinEndDate)

                    @Html.TextBoxFor(t => t.CheckinEndTime, "{0:hh:mm tt}", new { @class = "timepicker" })
                </li>
            </ul>
        </div>
        <div class="section form-section">
            <button type="submit">Create Tournament</button>
        </div>
    }
</div>