@model WebApplication.Models.TournamentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Create</h2>
<div id="TournamentCreate" class="form">
    @using (Html.BeginForm("Create", "Tournament", FormMethod.Post))
    {
        <div class="tournament field">
            @Html.LabelFor(t => t.Title)
            <input type="text" name="Title" placeholder="Title" value="@Model.Title"/>
            @Html.ValidationMessageFor(t => t.Title)
        </div>
        @*<div class="tournament field">
            @Html.LabelFor(t => t.Players)
            <input type="text" name="Players" class="slider" placeholder="Max Number of Players" value="@Model.Players"/>
            @Html.ValidationMessageFor(t => t.Players)
        </div>*@
        <div class="tournament field">
            @Html.LabelFor(t => t.RegistrationStart)
            <input type="datetime" name="RegistrationStart" class="datepicker" />
            @Html.ValidationMessageFor(t => t.RegistrationStart)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.RegistrationEnd)
            <input type="datetime" name="RegistrationEnd" class="datepicker" />
            @Html.ValidationMessageFor(t => t.RegistrationEnd)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.CheckInDateTime)
            <input type="datetime" name="CheckInDateTime" class="datepicker" />
            @Html.ValidationMessageFor(t => t.CheckInDateTime)
        </div>
        <div class="tournament field">
            @Html.LabelFor(t => t.IsPublic)
            <input type="checkbox" name="IsPublic" value="@Model.IsPublic"/>
            @Html.ValidationMessageFor(t => t.IsPublic)
        </div>
        <div class="tournament field">
            <input type="submit" value="Create Tournament" />
        </div>
    }
</div>