@model WebApplication.Models.TournamentViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isFinalized = Model.Model.Brackets.ElementAt(0).Matches.Count != 0;
    int userId = Session["User.UserId"] != null ? (int)Session["User.UserId"] : -1;
    DataLib.Permission UserPermission = Model.UserPermission((int)Session["User.UserId"]);

}
<div id="TournamentEdit" data-tournament="@Model.Model.TournamentID">
    @using (Html.BeginForm("Edit", "Tournament", FormMethod.Post))
    {
        <div class="section form-section">
            <h2>Basic Information</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.Title)
                    @Html.TextBoxFor(t => t.Title)
                    @Html.ValidationMessageFor(t => t.Title)
                </li>
                <li>
                    @Html.LabelFor(t => t.Description)
                    @Html.TextBoxFor(t => t.Description)
                    @Html.ValidationMessageFor(t => t.Description)
                </li>
                <li>
                    @Html.LabelFor(t => t.GameType)
                    @Html.DropDownListFor(t => t.GameType, new SelectList(Model.GameTypes, "GameTypeID", "Title"), "---Select Game---")
                    @Html.ValidationMessageFor(t => t.GameType)
                </li>
                <li>
                    @Html.LabelFor(t => t.BracketType)
                    @Html.DropDownListFor(t => t.BracketType, new SelectList(Model.BracketTypes, "BracketTypeID", "TypeName"), "---Select Bracket---")
                    @Html.ValidationMessageFor(t => t.BracketType)
                </li>
                <li>
                    @Html.LabelFor(t => t.IsPublic)
                    @Html.CheckBoxFor(t => t.IsPublic)
                    @Html.ValidationMessageFor(t => t.IsPublic)
                </li>
            </ul>
        </div>
        <div class="section form-section">
            <h2>Tournament Dates</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.RegistrationStartDate)
                    @Html.TextBoxFor(t => t.RegistrationStartDate, Model.RegistrationStartDate.Value.ToShortDateString().ToString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationStartDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.RegistrationEndDate)
                    @Html.TextBoxFor(t => t.RegistrationEndDate, Model.RegistrationEndDate.Value.ToShortDateString().ToString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationEndDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentStartDate)
                    @Html.TextBoxFor(t => t.TournamentStartDate, Model.TournamentStartDate.Value.ToShortDateString().ToString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentStartDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentEndDate)
                    @Html.TextBoxFor(t => t.TournamentEndDate, Model.TournamentEndDate.Value.ToShortDateString().ToString(), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentEndDate)
                </li>
            </ul>
        </div>
        <div class="section">
            <button type="submit">Accept Changes</button>
        </div>
    }

    <div class="section user-section">
        <h2>User Information</h2>
        <ul class="list-table">
            <li class="list-table-header">
                <ul class="border" data-columns="3">
                    <li>Name</li>
                    <li>Involvement</li>
                    <li>Actions</li>
                </ul>
            </li>
            <li class="list-table-body">
                @foreach (var user in Model.Administrators) // Display the Admins first
                {
                    <ul class="user border" data-user="@user.UserID" data-columns="3">
                        <li class="name">@user.Username</li>
                        <li class="permission">Admin</li>
                        <li class="actions">
                            @if (userId == Model.Model.CreatedByID && user.UserID != userId)
                            {
                                <button class="demote">Demote</button>
                            }
                        </li>
                    </ul>
                }

                @foreach (var user in Model.Participants) // Display the Admins Second
                {
                    <ul class="user border" data-user="@user.UserID" data-columns="3">
                        <li class="name">@user.Username</li>
                        <li class="permission">Participant</li>
                        <li class="actions">
                            @if (userId == Model.Model.CreatedByID)
                            {
                                <button class="promote">Promote</button>
                            }
                            @if (UserPermission == DataLib.Permission.TOURNAMENT_ADMINISTRATOR)
                            {
                                <button class="demote">Remove</button>
                            }
                        </li>
                    </ul>
                }
            </li>
        </ul>
    </div>
</div>