@model WebApplication.Models.TournamentViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="TournamentEdit">
    @using (Html.BeginForm("Edit", "Tournament", FormMethod.Post))
    {
        <div class="section">
            <h2>Basic Information</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.Title)
                    @Html.TextBoxFor(t => t.Title)
                    @Html.ValidationMessageFor(t => t.Title)
                </li>
                <li>
                    @Html.LabelFor(t => t.Description)
                    @Html.TextBoxFor(t => t.Description)
                    @Html.ValidationMessageFor(t => t.Description)
                </li>
                <li>
                    @Html.LabelFor(t => t.IsPublic)
                    @Html.CheckBoxFor(t => t.IsPublic)
                    @Html.ValidationMessageFor(t => t.IsPublic)
                </li>
                <li>
                    @Html.LabelFor(t => t.BracketTypes)
                    @Html.DropDownListFor(t => t.BracketType, new SelectList(Model.BracketTypes, "BracketTypeID", "TypeName"), "");
                    @Html.ValidationMessageFor(t => t.BracketTypes)
                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Tournament Dates</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.RegistrationStartDate)
                    @Html.TextBoxFor(t => t.RegistrationStartDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationStartDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.RegistrationEndDate)
                    @Html.TextBoxFor(t => t.RegistrationEndDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationEndDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentStartDate)
                    @Html.TextBoxFor(t => t.TournamentStartDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentStartDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentEndDate)
                    @Html.TextBoxFor(t => t.TournamentEndDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentEndDate)
                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Tournament Rules</h2>
            <ul>
                <li>Coming soon</li>
            </ul>
        </div>
        <div class="section">
            <h2>Tournament Administrators</h2>
            <ul>
                <li>Coming soon</li>
            </ul>
        </div>
        <div class="section">
            <button type="submit">Accept Changes</button>
        </div>
    }
</div>