@model WebApplication.Models.TournamentViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int maxUsersPerRow = 20;

    int participantColumns = (int)Math.Ceiling((double)Model.Participants.Count / maxUsersPerRow);
    int adminColumns = (int)Math.Ceiling((double)Model.Administrators.Count / maxUsersPerRow);

    participantColumns = participantColumns < 1 ? 1 : participantColumns;
    adminColumns = adminColumns < 1 ? 1 : adminColumns;
    int totalColumns = participantColumns + adminColumns;
}
<div id="TournamentEdit">
    @using (Html.BeginForm("Edit", "Tournament", FormMethod.Post))
    {
        <div class="section form-section">
            <h2>Basic Information</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.Title)
                    @Html.TextBoxFor(t => t.Title)
                    @Html.ValidationMessageFor(t => t.Title)
                </li>
                <li>
                    @Html.LabelFor(t => t.Description)
                    @Html.TextBoxFor(t => t.Description)
                    @Html.ValidationMessageFor(t => t.Description)
                </li>
                <li>
                    @Html.LabelFor(t => t.IsPublic)
                    @Html.CheckBoxFor(t => t.IsPublic)
                    @Html.ValidationMessageFor(t => t.IsPublic)
                </li>
                <li>
                    @Html.LabelFor(t => t.BracketTypes)
                    @Html.DropDownListFor(t => t.BracketType, new SelectList(Model.BracketTypes, "BracketTypeID", "TypeName"), "")
                    @Html.ValidationMessageFor(t => t.BracketTypes)
                </li>
            </ul>
        </div>
        <div class="section form-section">
            <h2>Tournament Dates</h2>
            <ul>
                <li>
                    @Html.LabelFor(t => t.RegistrationStartDate)
                    @Html.TextBoxFor(t => t.RegistrationStartDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationStartDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.RegistrationEndDate)
                    @Html.TextBoxFor(t => t.RegistrationEndDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.RegistrationEndDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentStartDate)
                    @Html.TextBoxFor(t => t.TournamentStartDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentStartDate)
                </li>
                <li>
                    @Html.LabelFor(t => t.TournamentEndDate)
                    @Html.TextBoxFor(t => t.TournamentEndDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(t => t.TournamentEndDate)
                </li>
            </ul>
        </div>
        <div class="section form-section">
            <h2>Tournament Rules</h2>
            <ul>
                <li>Coming soon</li>
            </ul>
        </div>
        <div class="section user-section">
            <h2>User Information</h2>
            <ul class="list-table">
                <li class="list-table-header">
                    <ul class="border" data-columns="@totalColumns">
                        @{
                            for (int i = 0; i < adminColumns; i++)
                            {
                                if (i == 0)
                                {
                                    <li>Admins</li>
                                }
                                else
                                {
                                    <li></li>
                                }
                            }
                            for (int i = 0; i < participantColumns; i++)
                            {

                                if (i == 0)
                                {
                                    <li>Participants</li>
                                }
                                else
                                {
                                    <li></li>
                                }
                            }
                        }
                    </ul>
                </li>
                <li class="list-table-body">
                    <ul data-columns="@totalColumns">
                        @{
                            int userIndex = 0;
                            for (int i = 0; i < adminColumns; i++)
                            {
                                <li>
                                    @for (int j = 0; j < maxUsersPerRow; j++)
                                    {
                                        if (userIndex < Model.Administrators.Count)
                                        {
                                            <div class="adminUser">
                                                @Model.Administrators[userIndex].Username
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="adminUser">&nbsp;</div>
                                        }

                                        userIndex++;
                                    }
                                </li>
                            }

                            userIndex = 0;
                            for (int i = 0; i < participantColumns; i++)
                            {
                                <li>
                                    @for (int j = 0; j < maxUsersPerRow; j++)
                                    {
                                        if (userIndex < Model.Participants.Count)
                                        {
                                            <div class="participant">
                                                @Model.Participants[userIndex].Username
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="participant">&nbsp;</div>
                                        }

                                        userIndex++;
                                    }
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="section">
            <button type="submit">Accept Changes</button>
        </div>
                            }
</div>