@model WebApplication.Models.Tournament

@{
    ViewBag.Title = "TournamentRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="TournamentRegister">
    <h2>@Model.Model.Title</h2>
    <h3 class="gameTitle">@Model.Model.GameType.Title on @Model.Model.Platform.PlatformName</h3>
    <div>Tournament Starts at @Model.Model.TournamentStartDate</div>
    <div>@Model.Model.Description</div>
    <p>
        @if (ViewBag.isLoggedIn)
        {
            if (ViewBag.CanRegister)
            {
                if (ViewBag.isRegistered)
                {
                    using (Html.BeginForm("Deregister", "Tournament", new { tournamentId = Model.Model.TournamentID }, FormMethod.Post, null))
                    {
                        <div class="message warning">
                            By removing yourself from this tournament you will not longer be able to participate in this tournament.
                        </div>
                        <button type="submit">Deregister for tournament</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("Register", "Tournament", new { tournamentId = Model.Model.TournamentID }, FormMethod.Post, null))
                    {
                        <div class="section form-section">
                            <div class="rules">
                                @Html.LabelFor(x => x.Model.Rules, "Tournament Rules")
                                @Html.TextAreaFor(x => x.Model.Rules, new { @readonly = "readonly" })
                            </div>
                            <div class="info">
                                <div class="terms">
                                    @Html.CheckBox("Terms", false)
                                    @Html.Label("Terms", "Accept Terms")
                                </div>

                                <input class="button" type="submit" value="Register for tournament">
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="message success">Hold tight, the tournament is being finalized and you can not change your status in this tournament.</div>
            }
        }
        else
        {
            <div class="message warning">You must @Html.ActionLink("login", "Login", "Account", new { }, new { @class = "clickable-underline" }) to register for a tournament.</div>
        }
    </p>
</div>