@model WebApplication.Models.Tournament

@{
    var brackets = Model.GetBrackets();
}

<div class="TournamentInfo">
    <span class="icon icon-cross close"></span>
    <div class="details" data-columns="@brackets.Count">
        @foreach (var bracket in brackets)
        {
            <div class="bracketNum column" data-bracket="@bracket.Id">@bracket.BracketName()</div>
        }
        @foreach (var bracket in brackets)
        {
            <div class="bracketData" data-bracket="@bracket.Id" data-id="@bracket.Id">
                <ul class="list-table">
                    <li class="list-table-header">
                        <ul data-columns="@(ViewBag.isCreator ? 3 : 2)">
                            <li class="column selection info" data-show="playerInfo">Players</li>
                            <li class="column selection info" data-show="standingInfo">Standings</li>
                            @if (ViewBag.isCreator)
                            {
                                <li class="column selection info" data-show="resetInfo">Reset</li>
                            }
                        </ul>
                    </li>

                    <li class="list-table-body infoSection playerInfo">
                        <ul class="header" data-columns="2">
                            <li class="column">Name</li>
                            <li class="column">Seed</li>
                        </ul>
                        <div class="bracketPlayers">
                            @foreach (var player in bracket.GetPlayers())
                            {
                                var person = Model.GetUserModel(player.TournamentUserID);

                                <ul class="data user form" data-user="@person.TournamentUserID" data-columns="2">
                                    <li class="column name">@person.Name</li>
                                    @if (ViewBag.isAdministrator)
                                    {
                                        <li class="column seed">
                                            @if (!Model.IsUserAdministrator(person.TournamentUserID))
                                            {
                                                <input type="text" name="seedVal" maxlength="2" value="@Model.GetUserSeed(bracket.Id, person.TournamentUserID)" />
                                            }
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="column seed">
                                            @Model.GetUserSeed(bracket.Id, person.TournamentUserID)
                                        </li>
                                    }
                                </ul>
                            }

                            @if (!Model.Model.InProgress && ViewBag.isAdministrator)
                            {
                                <div class="adminSettings">
                                    <div class="options">
                                        <button class="randomSeeds">Randomize Seeds</button>
                                        <button class="updateSeeds">Update Seeds</button>
                                    </div>
                                </div>
                            }
                    </li>


                    <li class="list-table-header infoSection standingInfo">
                        <ul class="header" data-columns="3">
                            <li class="column">Rank</li>
                            <li class="column">Name</li>
                            @if (!bracket.UsePoints())
                            {
                                <li class="column score"></li>
                            }
                            else
                            {
                                <li class="column score">Score</li>
                            }
                        </ul>
                        @if (bracket.IBracket.Rankings != null)
                        {
                            foreach (var rank in bracket.IBracket.Rankings)
                            {
                                <ul class="data" data-columns="3">
                                    <li class="column rank">@rank.Rank</li>
                                    <li class="column name">@rank.Name</li>
                                    @if (!bracket.UsePoints())
                                    {
                                        <li class="column score"></li>
                                    }
                                    else
                                    {
                                        <li class="column score">@rank.Wins - @rank.Losses - @rank.Ties</li>
                                    }
                                </ul>
                            }
                        }
                    </li>

                    @if (ViewBag.isCreator)
                    {
                        <li class="list-table-body infoSection resetInfo">
                            @if (!ViewBag.IsLocked) { 
                                <span>
                                    Are you sure you want to reset this bracket? This can not be reverted.
                                    <br />
                                    <button type="button" class="reset-bracket">Reset</button>
                                </span>
                            }
                            else
                            {
                                <span>This bracket can not be reset.</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
