@model WebApplication.Models.TournamentViewModel

<div class="TournamentInfo">
    <span class="icon icon-cross close"></span>
    <div class="details" data-columns="@Model.Tourny.Brackets.Count">
        @for (int i = 0; i < Model.Tourny.Brackets.Count; i++)
        {
            <div class="bracketNum column" data-bracket="@i">@i</div>
        }
        @for (int i = 0; i < Model.Tourny.Brackets.Count; i++)
        {
            var bracket = Model.Tourny.Brackets.ElementAt(i);

            <div class="bracketData" data-bracket="@i" data-id="@bracket.Id">
                <ul class="list-table">
                    <li class="list-table-header">
                        <ul data-columns="3">
                            <li class="column selection info" data-show="playerInfo">Players</li>
                            <li class="column selection info" data-show="standingInfo">Standings</li>
                            <li class="column selection info" data-show="resetInfo">Reset</li>
                        </ul>
                    </li>

                    <li class="list-table-body infoSection playerInfo">
                        <ul class="header" data-columns="@(Model.IsAdministrator(ViewBag.UserId) ? 4 : 2)">
                            <li class="column">Name</li>
                            <li class="column">Status</li>
                            @if (ViewBag.isAdministrator)
                            {
                                <li class="column">Present</li>
                                <li class="column">Actions</li>
                            }
                        </ul>
                        @{
                            var people = Model.Model.TournamentUsers.OrderBy(x => x.PermissionLevel);
                            foreach (var person in people)
                            {
                                Dictionary<String, int> data = Model.PermissionAction(ViewBag.UserId, person.TournamentUserID, "default");

                                <ul class="data user" data-user="@person.TournamentUserID" data-columns="@(Model.IsAdministrator(ViewBag.UserId) ? 4 : 2)">
                                    <li class="column name">@person.Name</li>
                                    <li class="column permission">@person.PermissionLevel</li>
                                    @if (ViewBag.isAdministrator)
                                    {
                                        String colorCode = Model.isUserCheckedIn(person.TournamentUserID) ? "green" : "red";
                                        if (Model.IsUserCreator(person.TournamentUserID))
                                        {
                                            colorCode = "";
                                        }

                                        <li class="column">
                                            <span class="icon icon-checkmark @colorCode checkIn"></span>
                                        </li>
                                        <li class="column actions">
                                            @if (!Model.Model.InProgress)
                                            {
                                                if (data["Promote"] == 1)
                                                {
                                                    <button class="promote">Promote</button>
                                                }
                                                if (data["Demote"] == 1)
                                                {
                                                    <button class="demote">Demote</button>
                                                }
                                                if (data["Remove"] == 1)
                                                {
                                                    <button class="demote">Remove</button>
                                                }
                                            }
                                        </li>
                                    }
                                </ul>
                            }


                            if (!Model.Model.InProgress && Model.IsAdministrator(ViewBag.UserId))
                            {
                                <div class="userAddData">
                                    <ul class="form" data-columns="4">
                                        <li class="column name"><input type="text" name="name" maxlength="50" placeholder="Name/Email"/></li>
                                        <li class="column">Not Saved</li>
                                        <li class="column"><span class="icon icon-checkmark"></span></li>
                                        <li class="column"><button class="addUserButton">Add User</button></li>
                                    </ul>
                                </div>
                            }
                        }
                    </li>

                    <li class="list-table-header infoSection standingInfo">
                        <ul class="header" data-columns="3">
                            <li class="column">Rank</li>
                            <li class="column">Name</li>
                            @if (bracket.BracketType == DatabaseLib.BracketType.DOUBLE || bracket.BracketType == DatabaseLib.BracketType.SINGLE)
                            {
                                <li class="column score"></li>
                            }
                            else
                            {
                                <li class="column score">Score</li>
                            }
                        </ul>
                        @if (bracket.Rankings != null)
                        {
                            foreach (var rank in bracket.Rankings)
                            {
                            <ul class="data" data-columns="3">
                                <li class="column rank">@rank.Rank</li>
                                <li class="column name">@rank.Name</li>
                                @if (bracket.BracketType == DatabaseLib.BracketType.DOUBLE || bracket.BracketType == DatabaseLib.BracketType.SINGLE)
                                {
                                    <li class="column score"></li>
                                }
                                else
                                {
                                    <li class="column score">@rank.Wins - @rank.Losses - @rank.Ties</li>
                                }
                            </ul>
                            }
                        }
                    </li>

                    <li class="list-table-body infoSection resetInfo">
                        Are you sure you want to reset this bracket? This can not be reverted.
                        <br/>
                        <button type="button" class="reset-bracket">Reset</button>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
