@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Tournament" data-id="@Model.Model.TournamentID">
    <div class="content-header">
        <h2>Tournament - @Model.Model.Title</h2>
        @if (Session["User.UserId"] != null && (int)Session["User.UserId"] == Model.Model.CreatedByID)
        {
            <div class="adminMenu">
                <div class="clickable-underline">@Html.ActionLink("Update", "Update", "Tournament", new { id = Model.Model.TournamentID }, null)</div>
                <div class="clickable-underline tournament-delete" data-id="@Model.Model.TournamentID">Delete</div>
            </div>
        }
    </div>
    @{
        bool registrationStarted = (DateTime)Model.RegistrationStartDate <= DateTime.Now;
        bool tournamentStarted = (DateTime)Model.TournamentStartDate <= DateTime.Now;
        bool registrationEnded = (DateTime)Model.RegistrationEndDate <= DateTime.Now;

        if (registrationStarted && !registrationEnded)
        {
            if (Session["User.UserId"] != null)
            {
                Html.RenderPartial("_ViewRegistration", Model);
            }
            else
            {
                <div class="message warning">To register for this tournament, click @Html.ActionLink("here", "Login", "Account", null, new { @class = "clickable-underline" }) to login</div>
            }
        }
        else if ((registrationEnded && !tournamentStarted) /* || Model.isBracketReleased */)
        {
            <div class="message success">The tournament is currently being prepared. Please wait until the brackets are released.</div>
        }
        else if (tournamentStarted)
        {
            Html.RenderPartial("_ViewTournament", Model);
        }
        else
        {
            <div class="message exception">Yeah..... something went wrong with displaying the tournament</div>
        }
    }
</div>