@model WebApplication.Models.Tournament

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool registrationStarted = (DateTime)Model.Model.RegistrationStartDate <= DateTime.Now;
    bool tournamentStarted = (DateTime)Model.Model.TournamentStartDate <= DateTime.Now;
    bool registrationEnded = (DateTime)Model.Model.RegistrationEndDate <= DateTime.Now;

    ViewBag.TournamentId = Model.Model.TournamentID;
    ViewBag.UserId = Session["User.UserId"] != null ? Session["User.UserId"] : -1;
    ViewBag.isAdministrator = Model.IsAdmin(ViewBag.UserId);
    ViewBag.isCreator = Model.IsCreator(ViewBag.UserId);
    ViewBag.inProgress = Model.Model.InProgress;
}

<div id="Tournament" data-id="@Model.Model.TournamentID">
    <div class="content-header">
        <h2 class="tournamentTitle"><span class="icon icon-menu tournamentData"></span> @Model.Model.Title</h2>
        <div class="tournament-buttons options">
            @if (ViewBag.isAdministrator)
            {
                <span class="icon icon-pencil tournament-update"></span>
                <span class="icon icon-cross tournament-delete"></span>
            }
            @if (Model.Model.InProgress)
            {
                if (Model.IsParticipent(ViewBag.UserId) && ViewBag.UserId != -1 && !Model.isAccountCheckedIn(ViewBag.UserId))
                {
                    <button class="checkIn">CheckIn</button>
                }
            }
        </div>
        <h3 class="gameTitle">@Model.Model.GameType.Title</h3>
    </div>
    <div class="bracketNames">
        <ul class="list-table">
            <li class="list-table-body">
                <ul data-columns="@Model.GetBrackets().Count">
                    @foreach (var bracket in Model.GetBrackets())
                    {
                        <li class="column bracketName" data-bracket="@bracket.Id">@bracket.BracketName()</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    @foreach (var bracket in Model.GetBrackets())
    {
        var bracketViewModel = Model.GetBracket(bracket.Id);

        <div class="bracket" data-id="@bracket.Id">
            <ul class="list-table bracket-data">
                @{
                    if (!bracket.IBracket.IsFinalized && ViewBag.isCreator && Model.GetParticipants().Count >= 4)
                    {
                        Html.RenderPartial("Administrator/_Finalize");
                    }

                    Html.RenderPartial("Brackets/" + bracket.BracketFileName(), bracketViewModel, new ViewDataDictionary(ViewData));
                }
            </ul>
        </div>
                    }
    @{ Html.RenderPartial("Standings", Model, new ViewDataDictionary(ViewData)); }
</div>