@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Bracket = Model.tourny.Brackets[0];
}

<div id="Tournament">
    <h2>Tournament - @Model.model.Title</h2>
    <ul class="list-table">
        <li class="list-table-header">
            <ul data-columns="@Bracket.NumberOfRounds()">
                @for (int i = 1; i <= Bracket.NumberOfRounds(); i++)
                {
                    String displayTitle = " ";
                    if (i == Bracket.NumberOfRounds())
                    {
                        displayTitle = "Finals";
                    }
                    else if (i == Bracket.NumberOfRounds() - 1)
                    {
                        displayTitle = "Semi-Finals";
                    }
                    else if (i == Bracket.NumberOfRounds() - 2)
                    {
                        displayTitle = "Quater Finals";
                    }

                    <li class="column">@displayTitle</li>
                }
            </ul>
        </li>
        <li class="list-table-body">
            <ul data-columns="@Bracket.NumberOfRounds()">
                @for (int roundNum = 1; roundNum <= Bracket.NumberOfRounds(); roundNum++)
                {
                    var matches = Bracket.GetRound(roundNum);
                    <li class="round" data-round="@roundNum">
                        @foreach (var match in matches)
                        {
                            var challenger = match.ChallengerIndex() != -1 ? Bracket.Players[match.ChallengerIndex()] : new Tournament.Structure.User();
                            var defender = match.DefenderIndex() != -1 ? Bracket.Players[match.DefenderIndex()] : new Tournament.Structure.User();

                            <div class="match" data-match="@match.MatchNumber">
                                <label class="matchNum">Match @match.MatchNumber</label>
                                <div class="matchData">
                                    <ul class="info">
                                        <li class="defender">
                                            <label class="seed">999</label>
                                            <div class="name">@defender.Name</div>
                                        </li>
                                        <li class="challenger">
                                            <label class="seed">73</label>
                                            <div class="name">@challenger.Name</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>