@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Tournament">
    <h2>Tournament - @Model.tournament.Title</h2>
    @{
        var Bracket = Model.tourny.Brackets[0];
        for (int roundNum = 1; roundNum <= Bracket.NumberOfRounds(); roundNum++)
        {
            var matches = Model.tourny.Brackets[0].GetRound(roundNum);
            <div class="round round-@roundNum" data-matches="@matches.Count">
                @foreach (var match in matches)
                {
                    var challenger = Bracket.Players[match.ChallengerIndex()];
                    var defender = Bracket.Players[match.DefenderIndex()];

                    <div class="match match-@match.MatchNumber">
                        <label>@match.MatchNumber</label>
                        <ul class="matchInfo">
                            <li>
                                <div class="seed">@defender.Id</div>
                                @defender.Name'
                            </li>
                            <li>
                                <div class="seed">@challenger.Id</div>
                                @challenger.Name
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }
    }
</div>