@model WebApplication.Models.Tournament

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool registrationStarted = (DateTime)Model.Model.RegistrationStartDate <= DateTime.Now;
    bool tournamentStarted = (DateTime)Model.Model.TournamentStartDate <= DateTime.Now;
    bool registrationEnded = (DateTime)Model.Model.RegistrationEndDate <= DateTime.Now;

    ViewBag.TournamentId = Model.Model.TournamentID;
    ViewBag.UserId = Session["User.UserId"] != null ? Session["User.UserId"] : -1;
    ViewBag.isAdministrator = Model.IsAdmin(ViewBag.UserId);
    ViewBag.isCreator = Model.IsCreator(ViewBag.UserId);
    ViewBag.inProgress = Model.Model.InProgress;

    var brackets = Model.GetBrackets();
}

<div id="Tournament" data-id="@Model.Model.TournamentID">
    <div class="content-header">
        <h2 class="tournamentTitle"><span class="icon icon-menu tournamentData"></span> @Model.Model.Title</h2>
        <div class="tournament-buttons options">
            @if (ViewBag.isAdministrator)
            {
                <span class="icon icon-pencil tournament-update"></span>
                <span class="icon icon-cross tournament-delete"></span>
            }
            @if (Model.Model.InProgress)
            {
                if (Model.IsParticipent(ViewBag.UserId) && ViewBag.UserId != -1 && !Model.isAccountCheckedIn(ViewBag.UserId))
                {
                    <button class="checkIn">CheckIn</button>
                }
            }
        </div>
        <h3 class="gameTitle">@Model.Model.GameType.Title</h3>
    </div>
    <div class="bracketNames">
        <ul class="list-table">
            <li class="list-table-body">
                <ul data-columns="@brackets.Count">
                    @foreach (var bracket in brackets)
                    {
                        <li class="column bracketName" data-bracket="@bracket.Id">@bracket.BracketName()</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    @for (int i = 0; i < brackets.Count; i++)
    {
        var bracket = brackets[i];

        ViewBag.UpperDisplayRounds = bracket.RoundShowing(WebApplication.Models.BracketSection.UPPER);
        ViewBag.LowerDisplayRounds = bracket.RoundShowing(WebApplication.Models.BracketSection.LOWER);
        ViewBag.DisplayRounds = bracket.TotalDispalyRounds(ViewBag.UpperDisplayRounds, ViewBag.LowerDisplayRounds);
        ViewBag.IsFinalized = bracket.IBracket.IsFinalized;
        ViewBag.GrandFinal = bracket.IBracket.GrandFinal != null;
        ViewBag.IsLocked = bracket.IsLocked;

        <div class="bracket" data-id="@bracket.Id">
            <ul class="list-table bracket-data">
                <li>
                    @if (ViewBag.isCreator)
                    {
                        if (!bracket.IBracket.IsFinalized)
                        {
                            if (bracket.GetPlayers().Count >= 4)
                            {
                                <div class="BracketFinalize">
                                    <button type="button" class="bracketFinalizeButton">Finalize Bracket</button>
                                </div>
                            }
                            else
                            {
                                if (i == 0)
                                {
                                    <div class="message warning">You must have 4 or more participants in this bracket to finalize the bracket.</div>
                                }
                                else
                                {
                                    <div class="message warning">The previous bracket must be locked before continuing.</div>
                                }
                            }
                        }
                        else
                        {
                            if (bracket.IBracket.IsFinished && !bracket.IsLocked)
                            {
                                <div class="BracketLock">
                                    <button type="button" class="bracketLockButton">Lock Bracket</button>
                                </div>
                            }
                        }
                    }
                        
                    @{ Html.RenderPartial("Brackets/" + bracket.BracketFileName(), bracket, new ViewDataDictionary(ViewData)); }
                </li>
            </ul>
        </div>
    }
    @{ Html.RenderPartial("Standings", Model, new ViewDataDictionary(ViewData)); }
</div>