@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Tournament">
    <h2>Tournament - @Model.tournament.Title</h2>
    @{
        var Bracket = Model.tourny.Brackets[0];
        for (int roundNum = 1; roundNum <= Bracket.NumberOfRounds(); roundNum++)
        {
            var matches = Model.tourny.Brackets[0].GetRound(roundNum);
            <div class="round round-@roundNum" data-matches="@matches.Count">
                @foreach (var match in matches)
                {
                    int challenger = match.ChallengerIndex();
                    int defender = match.DefenderIndex();

                    <div class="match match-@match.MatchNumber">
                        <label>@match.MatchNumber</label>
                        <ul class="matchInfo">
                            <li>
                                @if (challenger > -1)
                                {
                                    <div class="seed">@Bracket.Players[challenger].Id</div>
                                    @Bracket.Players[challenger].Name
                                }
                                else
                                {
                                    <div class="seed"></div>
                                }
                            </li>
                            <li>
                                @if (defender > -1)
                                {
                                    <div class="seed">@Bracket.Players[defender].Id</div>
                                    @Bracket.Players[defender].Name
                                }
                                else
                                {
                                    <div class="seed"></div>
                                }
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }
    }
</div>