@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Tournament - @Model.tourny.Title</h2>
<div id="Tournament">
    @if (Model.error != WebApplication.Models.ViewModel.ViewError.NONE)
    {
        <div class="message @Model.errorClassNames[(int)Model.error]">
            @MvcHtmlString.Create(Model.message);
        </div>
    }

    @for (int roundNum = @Model.tourny.Brackets[0].Rounds.Count()-1; roundNum >= 0; roundNum--)
    {
        var round = Model.tourny.Brackets[0].Rounds[roundNum];
        <div class="round round-@roundNum" data-matches="@round.Count()">
            @for (int matchNum = 0; matchNum < round.Count(); matchNum++)
            {
               var match = round[matchNum];

                <div class="match match-@match.MatchNumber">
                    <label>@match.MatchNumber</label>
                    <ul class="matchInfo">
                        @foreach (int player in round[matchNum].PlayerIndexes)
                        {
                            if (player == -1)
                            {
                                <li class="team"><div class="seed"></div></li>
                            }
                            else
                            {
                                <li class="team"><div class="seed">@player</div>@Model.tourny.Brackets[0].Players[player].Name</li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>