@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool registrationStarted = (DateTime)Model.RegistrationStartDate <= DateTime.Now;
    bool tournamentStarted = (DateTime)Model.TournamentStartDate <= DateTime.Now;
    bool registrationEnded = (DateTime)Model.RegistrationEndDate <= DateTime.Now;
    bool isLoggedIn = Session["User.UserId"] != null;
    var userPermission = isLoggedIn ? Model.UserPermission((int)Session["User.UserId"]) : DataLib.Permission.NONE;

    ViewBag.Permission = userPermission;
    ViewBag.isAdministrator = userPermission == DataLib.Permission.TOURNAMENT_ADMINISTRATOR;
}

<div id="Tournament" data-id="@Model.Model.TournamentID">
    <div class="content-header">
        <h2 class="tournamentTitle">Tournament - @Model.Model.Title</h2>
        <div class="tournament-buttons">
            @if (userPermission == DataLib.Permission.TOURNAMENT_ADMINISTRATOR)
            {
                <span class="icon icon-pencil tournament-update"></span>
                <span class="icon icon-cross tournament-delete"></span>
            }
        </div>
        <h3 class="gameTitle">@(Model.Model.GameType != null ? Model.Model.GameType.Title : "")</h3>
    </div>
    @for (int i = 0; i < Model.Tourny.Brackets.Count; i++)
    {
        // Tournament View
        var Bracket = Model.Tourny.Brackets[i];
        String bracketName = "";

        <div class="bracket" data-bracketnum="@i">
            <div class="bracket-info">
                @switch (Bracket.BracketType)
                {
                    case DataLib.BracketTypeModel.BracketType.SINGLE:
                        bracketName = "Single";
                        break;
                    case DataLib.BracketTypeModel.BracketType.DOUBLE:
                        bracketName = "Double";
                        break;
                    case DataLib.BracketTypeModel.BracketType.ROUNDROBIN:
                        bracketName = "RoundRobin";
                        break;
                }

                <h3 class="name">@bracketName</h3>
                <div class="options">
                    @if (Bracket.IsFinalized) { 
                        if (isLoggedIn && (int)Session["User.UserId"] == Model.Model.CreatedByID)
                        {
                            <span class="icon icon-loop2 tournament-reset"></span>
                        }
                        <span class="icon icon-trophy tournament-standings"></span>
                    }
                </div>
            </div>
            <ul class="list-table bracket-data">
                @{
                    var bracketViewModel = new WebApplication.Models.BracketViewModel(Bracket);
                    
                    if (!Bracket.IsFinalized && isLoggedIn && (int)Session["User.UserId"] == Model.Model.CreatedByID)
                    {
                        Html.RenderPartial("Administrator/_Finalize");
                    }

                    Html.RenderPartial("Brackets/Shared/_Header", bracketViewModel, new ViewDataDictionary(ViewData));
                    Html.RenderPartial("Brackets/" + bracketName, bracketViewModel, new ViewDataDictionary(ViewData));
                    Html.RenderPartial("Brackets/Shared/_Standings", bracketViewModel);
                }
            </ul>
        </div>
    }
</div>