@model WebApplication.Models.BracketViewModel

@{ 
    int roundNum = 1;
}

<li class="list-table-header bracket-header">
    <ul class="header-rounds form @ViewBag.Class" data-type="@ViewBag.Class" data-columns="@Model.TotalDispalyRounds()">
        @foreach (bool display in ViewBag.RoundShowing)
        {
            <li class="column">
                @if (display)
                {
                    var details = Model.GetRoundHeaders(roundNum, ViewBag.Section);

                    <div>Round @details.roundNum</div>

                    if (!Model.Bracket.IsFinalized && ViewBag.isAdministrator)
                    {
                        <div>Best of @Html.DropDownList("bestOfMatches", Enumerable.Range(1, 9).Where(x => x % 2 == 1).Select(n => new SelectListItem() { Text = n.ToString(), Value = n.ToString() }), new { @class = "bestOfMatches" })</div>
                    }
                    else
                    {
                        <div>Best of @details.bestOf</div>
                    }

                    roundNum++;
                }
            </li>
        }
        @if (ViewBag.GrandFinalShow != null && ViewBag.GrandFinalShow)
        {
            var details = Model.GetRoundHeaders(roundNum, ViewBag.Section);

            <li class="column">
                <div>Round @details.roundNum</div>

                @if (!Model.Bracket.IsFinalized && ViewBag.isAdministrator)
                {
                    <div>Best of @Html.DropDownList("bestOfMatches", Enumerable.Range(1, 9).Where(x => x % 2 == 1).Select(n => new SelectListItem() { Text = n.ToString(), Value = n.ToString() }), new { @class = "bestOfMatches" })</div>
                }
                else
                {
                    <div>Best of @details.bestOf</div>
                }
            </li>
        }
    </ul>
</li>
