@model WebApplication.Models.MatchViewModel

@{

}

<div class="TournamentMatch" data-id="@Model.Model.MatchID" data-matchnum="@Model.Model.MatchNumber">
    <label>Match @Model.Model.MatchNumber</label>
    <div class="options">
        @if (Model.Match.IsReady && !Model.Match.IsFinished)
        {
            <span class="icon icon-pencil"></span>
        }
    </div>
    <div class="overview">
        <div class="defender">
            <div class="name">
                @Model.Defender().Name
            </div>
            <div class="score">
                @Model.DefenderScore()
            </div>
            <div class="score-edit">
                <input type="text" name="gameScore" maxlength="3" />
            </div>
        </div>
        <div class="challenger">
            <div class="name">
                @Model.Challenger().Name
            </div>
            <div class="score">
                @Model.ChallengerScore()
            </div>
            <div class="score-edit">
                <input type="text" name="gameScore" maxlength="3" />
            </div>
        </div>
    </div>

    @if (Model.Match.IsReady)
    {
        <div class="details clickable clickable-underline">Details</div>
    }

    <div class="games">
        @foreach (var Game in Model.Match.Games)
        {
            Html.RenderPartial("Brackets/Shared/_Game", new WebApplication.Models.GameViewModel(Game));
        }
    </div>
</div>