@model WebApplication.Models.BracketViewModel

@{ 
    int columns = 3;
}

<li class="TournamentStandings">
    <label>Standings</label>
    <div class="options">
        <span class="icon icon-cross close"></span>
    </div>
    <ul class="list-table standings">
        <li class="list-table-header">
            <ul data-columns="@columns">
                <li class="column rank">Rank</li>
                <li class="column name">Name</li>
                @if (Model.UsePoints())
                {
                    <li score="column score">Score</li>
                }
            </ul>
        </li>
        <li class="list-table-body">
            @foreach (var data in Model.Bracket.Rankings)
            {
                <ul class="position" data-columns="@columns">
                    <li class="column rank">@data.Rank</li>
                    <li class="column name">@data.Name</li>
                    @if (Model.UsePoints())
                    {
                        <li class="column score">@data.MatchScore</li>
                    }
                </ul>
            }  
        </li>
    </ul>
</li>

